body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.usernameForm{
  width: 500px;
}

.username{
  font-size: 100px;
}

.passwordForm{
  width: 500px;
}

.password{
  font-size: 100px;
}

.symptomTypes{
  background-color: lightgrey;
  color: blue;
  text-align: center;
  font-size: 25px;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
